@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

:not(input) {
  user-select: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.toaster * {
  pointer-events: none !important;
}
